/* Responsividade para dispositivos móveis */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px; /* Reduzir o tamanho da fonte para melhor legibilidade */
  }

  h2 {
    font-size: 2rem; /* Reduzir o tamanho do título padrão */
  }

  .content2 h2 {
    font-size: 3rem; /* Ajustar tamanho do título em conteúdo específico */
  }

  header {
    flex-direction: column;
    padding: 20px;
  }

  .content {
    padding: 80px 10%;
  }

  .time .day {
    margin: 10px 0;
  }

  .carousel {
    flex-direction: column;
  }
}

/* Responsividade para smartphones */
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px; /* Reduzir ainda mais o tamanho da fonte */
  }

  h2 {
    font-size: 1.8rem; /* Reduzir o tamanho do título padrão */
  }

  .content2 h2 {
    font-size: 2.5rem; /* Redimensionar título em conteúdo específico */
  }

  .textBox2 {
    padding: 10px; /* Ajustar ainda mais o padding da caixa de texto */
    margin: auto;
  }

  .carousel-item {
    flex: 0 0 100%; /* Fazer o item do carrossel ocupar toda a largura */
    margin-right: 0; /* Remover margem direita dos itens */
  }

  .modal img {
    max-height: 70vh; /* Reduzir altura máxima da imagem no modal */
  }

  .content .textBox h2 {
    font-size: 2em;
  }

  .content .textBox p {
    font-size: 1em;
  }

  .content .imgBox img {
    width: 100%;
  }

  .time .day h3 {
    font-size: 1.2em;
  }

  .time .info {
    font-size: 1em;
  }

  .section2 .container {
    padding: 20px;
  }
}