
/* Responsividade para smartphones */
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px; /* Reduzir ainda mais o tamanho da fonte */
  }

  h2 {
    font-size: 1.8rem; /* Reduzir o tamanho do título padrão */
  }

  .content2 h2 {
    font-size: 2.5rem; /* Redimensionar título em conteúdo específico */
  }

  .textBox2 {
    padding: 10px; /* Ajustar ainda mais o padding da caixa de texto */
    margin: auto;
  }

  .carousel-item {
    flex: 0 0 100%; /* Fazer o item do carrossel ocupar toda a largura */
    margin-right: 0; /* Remover margem direita dos itens */
  }

  .modal img {
    max-height: 70vh; /* Reduzir altura máxima da imagem no modal */
  }
}